<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>

<%- messages() %>

<div clas="error">
  <% if (errors) { %>
    <ul>
      <% errors.forEach(function(error) { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>
</div>

<div class="editinventoryform">
    <form action="/account/update" class="updateForm" method="post">
      <div class="editinventory">
        <label for="first_name">First Name:</label><br>
        <input type="text" id="first_name" name="first_name" required value="<%= typeof first_name !== 'undefined' ? first_name : '' %>"><br><br>
  
        <label for="last_name">Last Name:</label><br>
        <input type="text" id="last_name" name="last_name" required value="<%= typeof last_name !== 'undefined' ? last_name : '' %>"><br><br>
  
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required value="<%= typeof email !== 'undefined' ? email : '' %>"><br><br>
  
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required value="<%= typeof password !== 'undefined' ? password : '' %>"><br><br>
  
        <label for="confirm_password">Confirm Password:</label><br>
        <input type="password" id="confirm_password" name="confirm_password" required value="<%= typeof confirm_password !== 'undefined' ? confirm_password : '' %>"><br><br>
      </div>
  
      <div class="edit-inventory-button">
        <input type="submit" name="submit" value="Update Account">
        <input type="hidden" name="account_id"
                <% if(locals.account_id) { %> value="<%= locals.account_id %>"
                          <% } %>>
        <label><a href="/account" id="return_management">Return to management </a> </label>
      </div>
  
    </form>
  
  </div>