<div class="edit-inventory">
    <% if (title) { %>
      <h1><%= title %></h1>
      <% } else {
        res.redirect('/')
      } %>
    
    <%- messages() %>

    <div clas="error">
      <% if (errors) { %>
        <ul>
          <% errors.forEach(function(error) { %>
            <li><%= error.msg %></li>
          <% }) %>
        </ul>
      <% } %>
    </div>
    
    <div class="editinventoryform">
        <form action="/inv/update" class="updateForm" method="post">
          <div class="editinventory">
            <label>Classification:</label><br>
            <%- classificationList %><br><br>
      
            <label for="inv_make">Make:</label><br>
            
      
            <input type="text" id="inv_make" name="inv_make" required value="<%= typeof inv_make !== 'undefined' ? inv_make : '' %>"><br><br>
      
            <label for="inv_model">Model:</label><br>
            <input type="text" id="inv_model" name="inv_model" required value="<%= typeof inv_model !== 'undefined' ? inv_model : '' %>"><br><br>
      
            <label for="inv_description">Description:</label><br>
            <input type="text" id="inv_description" name="inv_description" required value="<%= typeof inv_description !== 'undefined' ? inv_description : '' %>"><br><br>
      
            <label for="inv_price">Price:</label><br>
            <input type="number" id="inv_price" name="inv_price" required value="<%= typeof inv_price !== 'undefined' ? inv_price : '' %>"><br><br>
      
            <label for="inv_year">Year:</label><br>
            <input type="number" id="inv_year" name="inv_year" required value="<%= typeof inv_year !== 'undefined' ? inv_year : '' %>"><br><br>
      
            <label for="inv_miles">Miles:</label><br>
            <input type="number" id="inv_miles" name="inv_miles" required value="<%= typeof inv_miles !== 'undefined' ? inv_miles : '' %>"><br><br>
      
            <label for="inv_color">Color:</label><br>
            <input type="text" id="inv_color" name="inv_color" required value="<%= typeof inv_color !== 'undefined' ? inv_color : '' %>"><br><br>
          </div>
      
          <div class="edit-inventory-button">
            <input type="submit" name="submit" value="Update Vehicle">
            <input type="hidden" name="inv_id"
                    <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
                              <% } %>>
            <label><a href="/inv" id="return_management">Return to management </a> </label>
          </div>
      
        </form>
      
      </div>